   * { margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Montserrat' , sans-serif}

.links {color: #989D9C;
      font-weight: 600;
      font-size: 24px;
      margin: 30px 23px 23px 48px;
       }

.button-height {width: 130px;
                  height: 41px;
                 background: #665AE1; color: #FFFFFF;
                 border: none;
                 border-radius: 20.5px;}


h1       {font-weight: 900;
         color: #515151;
         font-size: 100px;
         
         }
   h2    {color: #515151;
         font-weight: 500;
          font-size: 58px;
          margin-bottom: 32px;
   }

   p {color: #848484;
      font-weight: 400;
      font-size: 24px;
       width: 515px;
       margin-bottom: 65px;}

 .button-bottom { width: 239px;
               height: 64px;
               border-radius: 20.5px;
               background: #ADFF00;
               color: #000;
               font-weight: 700;
               font-size: 28px;
               border: none;
               display: inline-block;}

.img1    {width: 568px;
        height: 500px;}

.container-right { display: inline-block;
                  margin: 138px 0 15px 111px; }


a {margin-right: 23px;}


@media screen and (max-width: 900px)

    { p { display: none; }

    .img1 { height: 280px;
         width: 290px;
         margin: 149px -25px -35px 58px;}

   .links {display: none;}

   h1 { width: 340px;
      height: 100px;
      font-size: 55px;
      font-weight: 900;
       margin-bottom: 10px;
      margin-left: -25px;
     margin-right: 250px;}

 h2  { font-size: 30px;
       font-weight: 500;
       margin-bottom: 20px;
       margin-top: -28px;
       }


.button-bottom {margin-bottom: 113px;}


.container-right { margin-left: 100px;}


   }